* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 60%;
  margin: auto;
}
h1 {
  max-width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.859);
  padding-top: 3ch;
  text-align: center;
  font-size: 4rem;
  font-family: "Manorly";
}
h3 {
  font-size: 1rem;
  color: rgb(136, 39, 4);
  margin-top: 0;
  text-align: center;
}
h4 {
  padding-top: 2ch;
  font-family: "Cloister Black";
  font-size: 2.5ch;
}

.ack {
  font-size: 0.6rem;
  padding-bottom: 2rem;
  margin: auto;
  color: #710a0a;
}

sup {
  color: red;
  font-size: xx-small;
}
a {
  text-decoration: none;
  color: rgb(136, 39, 4);
}

.main {
  margin-top: 3ch;
}
figcaption {
  margin-inline: auto;
  width: 150px;
  text-align: center;
  background-color: black;
  color: white;
  margin-bottom: 2ch;
}
h4 {
  text-align: center;
  margin-inline: auto;
}
@media only screen and (max-width: 600px) {
  .chev {
    text-align: center;
    background-color: whitesmoke;
  }
  .chev {
    display: none;
  }
}
