@import "base.css";
body {
  background-color: rgba(240, 228, 148, 0.5);
  width: 70%;
  margin: auto;
}

main {
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

h1 {
  font-size: 5rem;
  text-shadow: rgb(113, 113, 62) 3px 2px 3px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin: auto;
  margin-top: 0.1ch;
  text-align: center;
  border-radius: 10px;
  border: 0.05ch solid;
  padding: 0.1ch;
  background-color: var(--lgn);
  color: var(--grn);
  box-shadow: rgb(172, 170, 170) 0.1ch 0.1ch 0.6ch;
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 2.5rem;
    box-shadow: rgb(172, 170, 170) 0.1ch 0.1ch 0.1ch;
    text-shadow: rgba(113, 113, 62, 0.7) 1.5px 1px 1.5px;
  }
}

h3 {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: auto;
  margin-top: 2ch;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgb(150, 149, 149) 0.2ch 0.25ch 0.4ch;
  padding: 0.3ch;
  background-color: var(--grn);
  color: var(--plyl);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rch;
  margin: auto;
  margin-top: 3ch;
  padding: 1ch;
  width: 100%;
  text-align: center;
  /* border: 1px solid; */
}
a {
  text-decoration: none;
  color: var(--plyl);
}
.dropdown {
  margin: auto;
}
.button {
  margin: auto;
  padding: 0.5rch;
}
.item {
  border: 1px solid var(--lgn);
  background-color: var(--brn);
  color: var(--plyl);
  padding: 1rch;
  box-shadow: 2px 2px 5px grey;
}
.item a {
  text-decoration: none;
  color: var(--plyl);
}
.item a:hover {
  background-color: var(--plyl);
  color: var(--brn);
}
