@import "base.css";
body {
  background-color: rgba(240, 228, 148, 0.5);
  width: 100%;
  margin: auto;
}

main {
  width: 60%;
  margin: auto;
  margin-top: 100px;
}

h1 {
  font-size: 5rem;
  text-shadow: rgb(113, 113, 62) 3px 2px 3px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin: auto;
  margin-top: 0.1ch;
  text-align: center;
  border-radius: 10px;
  border: 0.05ch solid black;
  padding: 0.1ch;
  background-color: var(--lgn);
  color: var(--grn);
  box-shadow: rgb(172, 170, 170) 0.1ch 0.1ch 0.6ch;
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 2.5rem;
    box-shadow: rgb(172, 170, 170) 0.1ch 0.1ch 0.1ch;
    text-shadow: rgba(113, 113, 62, 0.7) 1.5px 1px 1.5px;
  }
}

h3 {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: auto;
  margin-top: 2ch;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgb(150, 149, 149) 0.2ch 0.25ch 0.4ch;
  padding: 0.3ch;
  background-color: var(--grn);
  color: var(--plyl);
}
.dropdown {
  /* position: relative; */
  display: grid;
}

/* Show the dropdown menu */
.dropdown-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}
.button {
  background-color: var(--brn);
  color: rgba(241, 238, 25, 0.993);
  padding: 0.3ch;
  margin: auto;
}
a:hover {
  background-color: var(--plyl);
}

.item {
  margin-bottom: 0.5ch;
  width: auto;
  padding: 0.5ch;
  background-color: var(--brn);
  justify-content: center;
  align-self: center;
  text-align: center; /*
  border: 0.1ch solid rgba(240, 228, 148, 0.844);
  border-radius: 0.5ch;*/
  box-shadow: grey 0.4ch 0.25ch 0.5ch;
}
a {
  text-decoration: none;
}

p {
  margin-top: 1ch;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  padding-right: 1ch;
  width: 60ch;
}
.container {
  width: auto;
  padding: 2ch;
  text-align: left;
}

.maintext {
  width: auto;
  margin: auto;
}
